.headerCommNews{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}
.headerCommNews a button{
    width: 250px;
    height: 60px;
    background-color: #141414;
    border: 1px solid #262626 ;
    border-radius: 8px;
    color: #98989A;
    font-size: 16px;
}
.headerCommNews a button:hover{
    color: white;
    background-color: #1A1A1A;
    
}
