.headerblog{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerblog img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(black 0%,transparent 100%);
}

.headerblog h1{
    position: absolute;
    margin-top: 300px;
    font-size: 60px;
    font-weight: 600;
}