
.MainCardsProductsVid{
    display: flex;
    flex-direction: column;
}

.ContainercardsProductsVid {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
}
.cardsProductsVid {
 
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.MainCardProdcutVid {
  width: 100%;
}

.imgCardProductVid {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 15px;
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 85%, transparent 100%);
  mask-image: linear-gradient(rgb(0, 0, 0) 70%, transparent 98%);
  -webkit-mask-composite: destination-in;
  mask-composite: exclude;
}

.pushAndParaProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 24.7%;
  gap: 30px;
  margin-top: -105px;
}
.pushAndParaProduct img {
  height: 60px;
  margin-left: 40px;
}
.pushAndParaProduct p {
  margin-right: 40px;
  color: #7e7e81;
}

.TypscardsProductsVid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.TypscardsProductsVid h1 {
  font-weight: 600;
}
.TypscardsProductsVid p {
  color: #98989a;
  height: 80px;
}

.TypscardsProductsVid a {
  text-decoration: none;
}
.TypscardsProductsVid a button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 18px 25px;
  font-size: 16px;
  color: #98989a;
  background: #141414;
  border: 1px solid #262626;
  border-radius: 15px;
  transition: 0.3s ease;
  margin-top: -20px;
}
.TypscardsProductsVid a button:hover {
  border: 1px solid #ffd11a;
  color: #ffd11a;

}
.TypscardsProductsVid a button img {
  height: 25px;
}




.LineProduct{
    height: 100%;
     border: none;
    border-left: 1px solid #262626;
}