.mainChat {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 38vh;
  border-top: 1px solid #262626;

}
.MainMainChat{
  display: flex;
  justify-content: space-around;
  width: 85%;
  height: 100%;
  align-items: center;
  gap: 150px;
}
.portoChatMain {
  height: 100%;
  

  width: 60%;
}

.portoChat {
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
  height: 64%;

  width: 270px;
}
.portoChat img {
  height: 80px;
  background-color: #262626;
  border-radius: 50%;
}
.portoChat p {
  color: #98989a;
}
.chatReacts button img {
  height: 20px;
}
.ChatPorto {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.loveBtn {
  transition: 0.4s ease;
}
.SendBtn {
  transition: 0.4s ease;
}
.ChatBtn {
  transition: 0.3s ease;
}
.loveBtn:hover {
  border: 1px solid rgb(255, 38, 0);
}
.SendBtn:hover {
  border: 1px solid rgb(0, 183, 255);
}
.ChatBtn:hover {
  border: 1px solid rgb(0, 255, 157);
}

.chatChat {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  margin-left: -140px;
}
.chatTexts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.chatTexts p {
  color: #98989a;
}

.yearChatP {
  font-weight: 600;
  margin-bottom: 20px;
}
.chatReacts {
  display: flex;
  gap: 10px;
}

.chatReacts button {
  min-width: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1a1a1a;
  border: 1px solid #262626;
  padding: 6px 15px 6px 15px;
  border-radius: 20px;
  gap: 5px;
}
.chatReacts button p {
  color: #98989a;
}

.ButtnChat {
  width: 100%;
  flex: 1;
 
}
.btnChat {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background-color: #141414;
  border: 1px solid #262626;
  width: 150px;
  height: 58px;
  color: #98989a;
  border-radius: 12px;
  font-size: 16px;
  transition: 0.3s ease;
}
.btnChat:hover {
  border: 1px solid #ffd11a;
  color: #ffd11a;
  cursor: pointer;
}

.btnChat img {
  height: 25px;
}

.btnChats a {
  text-decoration: none;
}



@media(max-width:1300px){
  .portoChat img {
    height: 70px;

  }
  .portoChat h1{
    font-size: 17px;
  
  }
  .portoChat p {
   font-size: 15px;
  }

  .chatTexts h1{
    font-size: 17px;
  }
  .yearChatP{
    font-size: 15px;
  }
  .chatTextsP{
    font-size: 14px;

  }
  .btnChat {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: #141414;
    border: 1px solid #262626;
    width: 140px;
    height: 58px;
    color: #98989a;
    border-radius: 12px;
    font-size: 14px;

  }

  .btnChat img {
    height: 20px;
  }


}


@media(max-width:1000px){
  .MainMainChat{

    gap: 5px;
  }
  .chatChat {

    margin-left: -20px;
  }
  .portoChat img {
    height: 65px;

  }
  .portoChat h1{
    font-size: 16px;
  
  }
  .portoChat p {
   font-size: 14px;
  }

  .chatTexts h1{
    font-size: 16px;
  }
  .yearChatP{
    font-size: 14px;
  }
  .chatTextsP{
    font-size: 13.5px;

  }
  .btnChat {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: #141414;
    border: 1px solid #262626;
    width: 120px;
    height: 58px;
    color: #98989a;
    border-radius: 12px;
    font-size: 13px;

  }

  .btnChat img {
    height: 18px;
  }


}


@media(max-width:770px){
 
  .MainMainChat{
   flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: start;
    
  }
  .chatChat {

    margin-left: 0px;
  }
  .portoChat{
    margin-top: 10px;
  }
  .portoChat img {
    height: 65px;

  }
  .portoChat h1{
    font-size: 16px;
  
  }
  .portoChat p {
   font-size: 14px;
  }

  .chatTexts h1{
    font-size: 16px;
  }
  .yearChatP{
    font-size: 14px;
  }
  .chatTextsP{
    font-size: 13.5px;

  }
  .btnChat {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 71%;
    margin-top: -330px;
    justify-content: center;
    background-color: #141414;
    border: 1px solid #262626;
    width: 120px;
    height: 58px;
    color: #98989a;
    border-radius: 12px;
    font-size: 13px;

  }

  .btnChat img {
    height: 18px;
  }

  .chatReacts {
    padding-bottom: 30px;
  }
  


}

@media(max-width:590px){
  .btnChat {

    margin-left: 68%;
    margin-top: -335px;

  }
}
@media(max-width:570px){
  .btnChat {

    margin-left: 63%;
    margin-top: -335px;

  }
}
@media(max-width:500px){
  .btnChat {

    margin-left: 55%;
    margin-top: -320px;
    

  }
}