.MainMainHeaderComm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.MainHeaderComm{
    width: 85%;
  

}
.headerComm{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
   
}
.headerComm a{
    width: 100%;

}
.headerComm a button{
    width: 100%;

    height: 60px;
    background-color: #141414;
    border: 1px solid #262626 ;
    border-radius: 8px;
    color: #98989A;
    font-size: 16px;
}
.headerComm a button:hover{
    color: white;
    background-color: #1A1A1A;
    
}
.LastShadwoHeaderComm{
    display: none;
}

@media(max-width:1300px){
    .headerComm a button{
        width: 100%;
    
        height: 60px;
        background-color: #141414;
        border: 1px solid #262626 ;
        border-radius: 8px;
        color: #98989A;
        font-size: 13px;
    }
}
@media(max-width:750px){

    .headerComm{
        display: flex;
        
        width: 95%;
        margin-left: 7%;
        justify-content: start;
        align-items: center;
        gap: 23px;
        overflow-x: scroll;
   
    }
    .headerComm::-webkit-scrollbar{
        display: none;
    }
    .headerComm a{
        width: 150px;

      
    }
    .headerComm a button{
        
        width: 160px;

       
        height: 60px;
        background-color: #141414;
        border-radius: 8px;
        color: #98989A;
        font-size: 15px;
    }

    
 
    .MainHeaderComm{
        width: 100%;
        display: flex;
        justify-content: center;
      
      
    
    }
  
}




