.mainContact {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  border-top: 1px solid #242424;
}
.MainMainContact {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.LeftMainContact {
  width: 59%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 28px;
  border-right: 1px solid #242424;
}

.LeftMainContact img {
  height: 70px;
}
.LeftMainContact h1 {
  font-size: 55px;
  font-weight: 400;
}

.RightMainContact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.TopRightMainContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 100%;
  height: 100%;
}

.FirstRightMainContact {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 40px;
}

.Left_FirstRightMainContact {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}
.Left_FirstRightMainContact h1 {
  font-size: 20px;
  font-weight: 500;
}
.Left_FirstRightMainContact input {
  width: 95%;
  height: 100%;
  background-color: #1a1a1a;
  border: 1px solid #242424;
  border-radius: 10px;
  padding-left: 20px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s ease;
}
.Left_FirstRightMainContact input:hover {
  border: 1px solid #ffd11a;
}

.Right_FirstRightMainContact {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}
.Right_FirstRightMainContact h1 {
  font-size: 20px;
  font-weight: 500;
}
.Right_FirstRightMainContact input {
  width: 95%;
  height: 100%;
  background-color: #1a1a1a;
  border: 1px solid #242424;
  border-radius: 10px;
  padding-left: 20px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s ease;
}
.Right_FirstRightMainContact input:hover {
  border: 1px solid #ffd11a;
}
.SecondtRightMainContact {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 40px;
}

.Left_SecondtRightMainContact {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}
.Left_SecondtRightMainContact h1 {
  font-size: 20px;
  font-weight: 500;
}
.Left_SecondtRightMainContact input {
  width: 95%;
  height: 100%;
  background-color: #1a1a1a;
  border: 1px solid #242424;
  border-radius: 10px;
  padding-left: 20px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s ease;
}
.Left_SecondtRightMainContact input:hover {
  border: 1px solid #ffd11a;
}

.Right_SecondtRightMainContact {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}
.Right_SecondtRightMainContact h1 {
  font-size: 20px;
  font-weight: 500;
}
.Right_SecondtRightMainContact input {
  width: 95%;
  height: 100%;
  background-color: #1a1a1a;
  border: 1px solid #242424;
  border-radius: 10px;
  padding-left: 20px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s ease;
}
.Left_SecondtRightMainContact input:hover {
  border: 1px solid #ffd11a;
}

.FlagRight_SecondtRightMainContact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}
.FlagRight_SecondtRightMainContact input {
  width: 100%;
  height: 60px;
  transition: 0.3s ease;
}
.FlagRight_SecondtRightMainContact input:hover {
  border: 1px solid #ffd11a;
}
.FlagRight_SecondtRightMainContactBtn {
  display: flex;
  height: 60px;
  width: 30%;
  border: 1px solid #242424;

  align-items: center;
  gap: 5px;
  justify-content: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  transition: 0.3s ease;
}
.FlagRight_SecondtRightMainContactBtn:hover {
  border: 1px solid #ffd11a;
}
.FlagRight_SecondtRightMainContactBtn img:first-child {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.FlagRight_SecondtRightMainContactBtn img:last-child {
  height: 25px;
}

.ThirdRightMainContact {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 15px;

  justify-content: center;
}
.ThirdRightMainContact h1 {
  font-size: 20px;
  font-weight: 500;
}
.ThirdRightMainContact input {
  width: 97.5%;
  padding-bottom: 140px;
  background-color: #1a1a1a;
  border: 1px solid #242424;
  border-radius: 10px;
  padding-left: 20px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s ease;
  padding-top: 20px;
}
.ThirdRightMainContact input:hover {
    border: 1px solid #ffd11a;
  }

.BotRightMainContact {
  height: 20%;
}

.BotRightMainContact {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: -70px;
}
.LeftBotRightMainContact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 50px;
}
.LeftBotRightMainContact input {
  height: 25px;
  width: 25px;
}

.BotRightMainContact button {
  margin-right: 50px;
  padding: 18px 40px;
  font-size: 18px;
  background-color: #ffd11a;
  border: none;
  border-radius: 10px;
  transition: 0.1s ease;
  border: 1px solid #ffd11a;

}
.BotRightMainContact button:hover{
  background-color: #141414;
  border: 1px solid #ffd11a;
  color: #ffd11a;

}
