.LastContact {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  border-top: 1px solid #242424;
}
.MainLastContact {
  width: 85%;
  height: 100%;
  display: flex;
}

.LeftMainLastContact {
  width: 59%;
  height: 100%;
  border-right: 1px solid #242424 ;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
}
.LeftMainLastContact img {
  height: 70px;
}
.LeftMainLastContact h1 {
  font-size: 32px;
}
.LeftMainLastContact p {
  color: #98989a;
  width: 90%;
}
.LeftMainLastContact a {
  text-decoration: none;
}
.LeftMainLastContact a button img {
  height: 25px;
}
.LeftMainLastContact a button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 30px;
  font-size: 18px;
  background-color: #1a1a1a;
  border: 1px solid #242424;
  border-radius: 10px;
  color: #98989a;
  gap: 10px;
  transition: 0.3s ease;
}
.LeftMainLastContact a button:hover {
  border: 1px solid #ffd11a;
  color: #ffd11a;
}

.RightMainLastContact {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
}

.according {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
 
  
}
.according li {
  list-style: none;
  width: 94%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #242424;
  background-color: #1a1a1a;
}

.according li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.according li label span::before {
  content: "+";
  margin-right: 15px;
  font-size: 24px;
  font-weight: 600;
  color: #ffd11a;
}
input[type="radio"] {
  display: none;
}

.content {
    
  color: #7e7e81;
  padding: 0px 10px;
  line-height: 26px;
  margin-top: 10px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s, padding 0.4s;
}

.according input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}


.according input[type="radio"]:checked + label span::before{
    content: "-";
    color: white;
}

.contentAccordingLine {
  margin-bottom: 10px;
  border: none;
  border-top: 1px solid #242424;
  width: 100%;
}
