.topHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.topHeader h1 {
  font-size: 20px;
  font-weight: 300;
  color: #98989a;
}
.topHeader img {
  height: 25px;
  transition: 0.3s ease;
}
.topHeader img:hover {
  rotate: 360deg;
}

.MianHeadery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  background-color: #1a1a1a;
}
.MianHeader {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  gap: 50px;
}

.MianHeader img {
  height: 50px;
}

.mainList {
  display: flex;
  gap: 50px;
}

.HeaderCloseBTN {
  display: none;
}
.mainList li a {
  color: #7e7e81;
  text-decoration: none;
  transition: 0.3s ease;
}
.mainList li {
  list-style-type: none;
  padding: 12px 12px 12px 12px;
  border-radius: 9px;
}
.mainList li a:hover {
  color: white;
}
.btnHeaderContact {
  width: 120px;
  height: 50px;
  border: none;
  background-color: #ffd11a;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.2s ease;
}

.btnHeaderContact:hover {
  color: #ffd11a;
  background-color: #141414;
  border: 1px solid #ffd11a;
  cursor: pointer;
}

.btn590px {
  position: fixed;
  inset: 0;
  z-index: 11;
  background-color: rgba(43, 43, 43, 0.808);

  /* filter: blur(8px); */
  backdrop-filter: blur(3px);
}
@keyframes mymove {
  0% {
    scale: 0;
  }

  60% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}
.mainListBtn590px {
  animation: mymove 0.5s 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
  background-color: #141414;
  padding: 50px 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  box-shadow: 2px 5px 20px 0px rgb(15, 15, 15);
}
.mainListBtn590px li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #98989a;
}
.mainListBtn590px li {
  list-style: none;
  padding: 12px 12px 12px 12px;
  border-radius: 10px;
  width: 70%;
}
.HeaderCloseBTN {
  border: none;
  background-color: #1a1a1a;
}
.HeaderCloseBTN img {
  width: 40px;
  cursor: pointer;
}
.btnFirstChildHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.closeBtnHeaderCard {
  border: 1px solid red;
  background-color: yellow;
  border: none;
  background-color: #141414;
  cursor: pointer;
}
.closeBtnHeaderCard img {
  height: 30px;
  transition: 0.3s ease;
}
.closeBtnHeaderCard img:hover {
  rotate: 90deg;
}

@media (max-width: 1400px) {
  .topHeader {
    height: 2vh;
  }
  .topHeader h1 {
    font-size: 16px;
  }
  .topHeader img {
    height: 20px;
  }
  .MianHeader {
    height: 80px;
  }
  .MianHeader img {
    height: 40px;
  }
  .mainList li a {
    font-size: 14px;
  }
  .mainList li {
    padding: 10px 10px 10px 10px;
  }
  .btnHeaderContact {
    width: 100px;
    height: 40px;
    font-size: 13px;
  }
}

@media (max-width: 930px) {
  .topHeader {
    height: 1vh;
  }
  .topHeader h1 {
    font-size: 14px;
  }
  .topHeader img {
    height: 18px;
  }
  .MianHeader {
    width: 85%;

    height: 65px;
  }
  .mainList {
    display: flex;
    gap: 40px;
  }
  .MianHeader img {
    height: 33px;
  }
  .mainList li a {
    font-size: 12px;
  }
  .mainList li {
    padding: 8px 8px 8px 8px;
  }
  .btnHeaderContact {
    width: 80px;
    height: 35px;
    font-size: 11px;
  }
}
@media (max-width: 760px) {
  .topHeader {
    height: 1vh;
  }
  .topHeader h1 {
    font-size: 14px;
  }
  .topHeader img {
    height: 18px;
  }
  .MianHeader {
    width: 90%;

    justify-content: space-around;

    height: 65px;
  }
  .MianHeader img {
    height: 33px;
    gap: 10px;
  }
  .mainList {
    display: flex;
    gap: 20px;
  }
  .mainList li a {
    font-size: 12px;
  }
  .mainList li {
    padding: 8px 8px 8px 8px;
  }
  .btnHeaderContact {
    width: 80px;
    height: 35px;
    font-size: 11px;
  }
}
@media (max-width: 670px) {
  .topHeader {
    height: 1vh;
  }
  .topHeader h1 {
    font-size: 14px;
  }
  .topHeader img {
    height: 18px;
  }
  .MianHeader {
    width: 90%;

    justify-content: space-around;

    height: 65px;
  }
  .MianHeader img {
    height: 33px;
    gap: 10px;
  }
  .mainList {
    display: flex;
    gap: 10px;
  }
  .mainList li a {
    font-size: 12px;
  }
  .mainList li {
    padding: 7px 7px 7px 7px;
  }
  .btnHeaderContact {
    width: 80px;
    height: 35px;
    font-size: 11px;
  }
}
@media (max-width: 590px) {
  .topHeader {
    height: 1vh;
  }
  .topHeader h1 {
    font-size: 14px;
  }
  .topHeader img {
    height: 18px;
  }
  .MianHeader {
    width: 100%;
    gap: 300px;
    justify-content: space-around;

    height: 65px;
  }
  .MianHeader img {
    height: 33px;
    gap: 10px;
  }
  .mainList {
    display: none;
    gap: 10px;
  }
  .mainList li a {
    font-size: 12px;
  }
  .mainList li {
    padding: 7px 7px 7px 7px;
  }
  .btnHeaderContact {
    display: none;
    width: 80px;
    height: 35px;
    font-size: 11px;
  }

  .HeaderCloseBTN {
    display: block;
    position: absolute;
    margin-left: 85%;
  }
}
@media (max-width: 480px) {
  .topHeader {
    margin-top: 30px;
  }
  .topHeader h1 {
    font-size: 11px;
  }
  .topHeader img {
    height: 17px;
  }
  .closeBtnHeaderCard img {
    height: 23px;
  }
  .mainListBtn590px li a {
    font-size: 17px;
  }
  .mainListBtn590px {
    gap: 20px;
  }
  .MianHeader {
    gap: 220px;
  }
  .btn590px {
    position: fixed;
    inset: none;
    z-index: 11;
    background-color: rgba(43, 43, 43, 0.808);

    /* filter: blur(8px); */
    backdrop-filter: blur(3px);
  }
  .HeaderCloseBTN {
    display: block;
    position: absolute;
    margin-left: 80%;
  }
}
