.mainNewsVideos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.videosLeft {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mainTopVideo {
  margin-top: 65px;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 65px;
}
.mainTopVideo2 {
  margin-top: 65px;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 65px;
}
.imgVideo1 {
  width: 100%;
  height: 450px;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 85%, transparent 100%);
  mask-image: linear-gradient(rgb(0, 0, 0) 70%, transparent 100%);
  -webkit-mask-composite: destination-in;
  mask-composite: exclude;
  position: relative;
  display: inline-block;
  border-radius: 16px;
}

.pushBtnAndTime img {
  height: 50px;
  margin-left: 30px;
}
.pushBtnAndTime p {
  color: white;
  margin-right: 30px;
}

.BotLeftVideo {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.BotLeftVideo h1 {
  font-size: 21px;
}
.BotLeftVideo p {
  color: #98989a;
}

.pushBtnAndTime {
  display: flex;
  align-items: center;

  margin-top: -70px;
  justify-content: space-between;
  width: 37.7%;
  position: absolute;
}

.hrLine {
  height: 100%;

  border: none;
  border: 1px solid #262626;
}
