.headerContact {
  width: 100%;
  height: 42vh;
  display: flex;
  justify-content: center;
}
.MainheaderContact {
  width: 85%;
  height: 100%;
  display: flex;
}
.headerContactCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 50px;
}
.headerContactCard h1 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 110px;
  margin-left: 50px;
}
.btnHeaderContactCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 50px;
}
.btnHeaderContactCard p {
  color: #98989a;
  width: 90%;
}
.btnHeaderContactCard a {
  text-decoration: none;
}
.btnHeaderContactCard a button img {
  height: 25px;
}
.btnHeaderContactCard a button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 14px 20px;
  font-size: 15px;
  background-color: #1a1a1a;
  border: 1px solid #242424;
  border-radius: 10px;
  color: #98989a;
  transition: 0.3s ease;
}
.btnHeaderContactCard a button:hover {
  border: 1px solid #ffd11a;
  color: #ffd11a;
  background-color: #141414;
}

.LastBtnHeaderContactCard {
  display: flex;
  margin-left: 50px;
  gap: 30px;
}
.LastBtnHeaderContactCard a img {
  height: 25px;
  background-color: #1a1a1a;

  padding: 14px 20px;
  border: 1px solid #242424;
  border-radius: 8px;
  transition: 0.3s ease;
}
.LastBtnHeaderContactCard a img:hover {
  border: 1px solid #ffd11a;
  background-color: #141414;

}


.LineMainheaderContact{
    border: none;
    border-left: 1px solid #242424 ;
    height: 100%;
}
