.mainProductsReusable {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.MainLeftAndRight {
  display: flex;
  justify-content: center;
  width: 85%;
  height: 100%;
}

.leftMainProducts {
  width: 59%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
  border-right: 1px solid #242424;
}
.productIcon {
  height: 70px;
  margin-bottom: 25px;
}

.titleAndStars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}
.StarsProducts {
  padding: 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 30px;
  border: 1px solid #242424;
}
.titleAndStars h1 {
  font-size: 33px;
}
.StarsProducts img {
  height: 20px;
}

.cardLeftProduct {
  border: 1px solid #242424;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 110px;
  background-color: #1a1a1a;
  border-radius: 12px;
}
.cardLeftProductTitle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cardLeftProductTitle h1 {
  font-size: 20px;
  font-weight: 400;
}
.cardLeftProductTitle p {
  font-size: 20px;
  color: #98989a;
}
.cardLeftProduct a button {
  border: 1px solid #242424;
  padding: 18px 18px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  background-color: #141414;
  color: #98989a;
  font-size: 18px;
  transition: 0.3s ease;
}
.cardLeftProduct a button:hover {
  border: 1px solid #ffce22;
  color: #ffce22;
}
.cardLeftProduct a {
  text-decoration: none;
}
.cardLeftProduct a button img {
  height: 25px;
}

.rightMainProducts {
  width: 100%;
  height: 100%;
}

.MainImgRightProducts {
  display: flex;
  justify-content: end;
}
.ImgMainProduct {
  margin-top: 60px;
  width: 92%;
  height: 400px;
  object-fit: cover;
  border-radius: 28px;
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 85%, transparent 100%);
  mask-image: linear-gradient(rgb(0, 0, 0) 50%, transparent 98%);
  -webkit-mask-composite: destination-in;
  mask-composite: exclude;
  position: relative;
}
.BTN_ImgMainProduct {
  height: 70px;
  position: absolute;
  display: flex;
  margin-top: 215px;
  margin-right: 22%;
}

.TypsRightProduct {
  margin-top: 22px;
  width: 100%;
  justify-content: center;
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.TypsRightProduct h1 {
  width: 92%;
}
.TypsRightProduct p {
  width: 92%;
  color: #98989a;
}

.MainContainer_cardRightProduct {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.cardRightProduct {
  width: 92%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.singlCardsRightProducts {
  border: 1px solid #242424;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
  border-radius: 15px;
  background-color: #1a1a1a;
}
.singlCardsRightProducts p {
  color: #98989a;
  margin-left: 26px;
}
.singlCardsRightProducts h1 {
  font-size: 21px;
  font-weight: 500;
  margin-left: 26px;
}
