.cardBlog {
    width: 100%;
    height: 55vh;
    border-top: 1px solid #262626 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .topBlogCards{
    display: flex;
   
    width: 85%;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
  }
  .topBlogCards h1{
    font-size: 29px;
  }
  .topBlogCards a button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    padding: 15px 22px;
    background: #141414;
    border: 1px solid #262626;
    border-radius: 12px;
    color: #98989A;
    transition: 0.3s ease;
  }
  .topBlogCards a button:hover{
    border: 1px solid #ffd11a;
    color: #ffd11a;

  }
  .topBlogCards a{
    text-decoration: none;
  }
  .topBlogCards a button img{
    height: 25px; 
 
  }
  
  .thirdMainBlogContained {
  
    width: 85%;
  
    display: flex;
     justify-content: space-between;
  }
  .mainThirdMainBlog {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 100%;
    justify-content: center;
    gap: 20px;
  }
  .imgThirdNews {
    width: 100%;
    height: 200px;
  }
  .imgThirdNews img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .btnThirdNews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 65px;
    margin-top: -10px;
   
  }
  .ArooIconBtnThirdNews {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #141414;
    border: 1px solid #262626;
    color: #98989a;
    font-size: 16px;
    flex: 1;
    border-radius: 15px;
    transition: 0.3s ease;
  }
  
  .ArooIconBtnThirdNews:hover {
    border: 1px solid #ffd11a;
    color: #ffd11a;
  }
  .ArooIconBtnThirdNews img {
    height: 25px;
  }
  
  .textBlog {
    height: 20% ;
  }
  .textBlog p{
    color: #98989A;
  }
  .textBlog h1{
    font-size: 20px;
  }